@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alfa+Slab+One&family=Anton+SC&family=Bebas+Neue&family=Gluten:wght@100..900&display=swap');

.header-section {
  z-index: 1;
  background-color: #f0be49;
  width: 96%;
  margin: 1rem 0.5rem 0.5rem 1.85rem;
  border-radius: 20px;
  overflow: visible;
}

.shopping-bar {
  width: 100%;
  padding: 0.5rem 1rem;
}

.shopping-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Brand */
.brand {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  width: 3rem;
  height: 3rem;
  /* margin-bottom: 1rem; */
}

.brand-name {
  color: #c1564c;
  font-weight: bold;
  font-family: 'Advent Pro', sans-serif;
  font-size: 2.3rem;
  margin-left: 0.5rem;
}

/* Toggle Button */
.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

/* Navbar Links */
.nav-links {
  display: flex;
  justify-content: flex-end;
  /* width: 100%; */
}

/* Navigation Items */
.nav-items {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .nav-shopping-icon {
  padding: 0.45rem 0.55rem !important;
} */

.nav-shop-cart{
  width: 1.5rem;
  height: 1.4rem;
  margin-right: 0.3rem;
}

.home-button,
.login-button,
.nav-shopping-icon {
  background-color: #c1564c;
  color: #f5e9e4;
  border: none;
  padding: 0.3rem 0.6rem;
  font-family: 'Telex', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.home-button:hover,
.login-button:hover,
.nav-shopping-icon:hover {
  background-color: #f5e9e4;
  color: #c1564c;
}


.login-button .icon {
  margin-right: 0.2rem;
  width: 1rem;
  height: 1.5rem;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .toggle-button {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }

  .nav-links.active {
    max-height: 500px;
    /* Arbitrary large value to allow content to expand */
  }

  .search-container {
    width: 100%;
    margin: 0 0 1rem 0;
  }

  .nav-items {
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
  }

  .home-button,
  .login-button {
    width: 100%;
    text-align: left;
  }
}


.cart-navbar-profile {
  position: relative; 
  font-family: 'Telex', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin-left: 1rem;
  padding:0.5rem;
}

.cart-profile-name {
  font-weight: bold;
  font-size: 1.25rem;
  color: #c1564c;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.2rem; 
  margin: 0;
}

.cart-profile-image {
  font-size: 2rem;
  color: #c1564c;
  margin-bottom: 0.1rem; 
  cursor: pointer;
  margin-left: 1rem;
}

.cart-nav-profile-dropdown {
  display: none; 
  position: absolute;
  top: 100%;  
  right: 0; 
  background-color: #fff;
  color: #c1564c;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  min-width: 200px;
  overflow: auto;
  z-index: inherit; 
}

.cart-nav-profile-dropdown li {
  padding: 0.75rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.cart-nav-profile-dropdown li:hover {
  background-color: #c1564c;
  color: #f5e9e4;
}

.cart-navbar-profile:hover .cart-nav-profile-dropdown {
  display: block;
}

.cart-nav-profile-dropdown li p {
  margin-left: 0.5rem;
}

.cart-nav-profile-dropdown li:hover p {
  color: #f5e9e4;
}

.cart-nav-profile-dropdown li svg {
  font-size: 1.2rem;
  color: #c1564c;
}

.cart-nav-profile-dropdown li:hover svg {
  color: #f5e9e4;
}

.cart-nav-profile-dropdown p {
  margin: 0;
}