.login-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 60%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 1100;
    text-align: center;
    font-family: "Telex","Serif";
    display: flex;
}

.login-bg{
    width:40%;
    height:auto;
    margin-right: 5%;
}

.signup-bg{
    width:50%;
    height:auto;
    margin-right: 5%;
}

.form-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/* Heading inside login */
.login-popup h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
    font-family: "Oswald", sans-serif;
}

/* Input fields */
.login-popup input[type="email"],
.login-popup input[type="password"],
.login-popup input[type="tel"],
.login-popup input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Submit button */
.login-popup input[type="submit"] {
    background-color: #c1564c ;
    color: #f5e9e4;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    font-weight: 550;
    margin-top: 10px;
}

/* .google-button{
    border: none;
    padding: 12px;
    padding-left: 3.5rem;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    background-image: url(./google-symbol.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 5rem 1rem;  
} */

.google-container {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    border: 2px solid #c1564c;
    border-radius: 4px;
    padding: 10px;
    background-color: white;
    cursor: pointer;
  }
  
  .google-container:hover {
    background-color: #fff5eb;
  }
  
  .google-logo {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;  
  }
  
  .google-button {
    border: none;
    background: none;
    color: #5f6368;
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

.login-popup input[type="submit"]:hover {
    background-color: #ffd9ce ;
    color: #c1564c;
}

/* Cancel button */
.cancel-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* OR section */
.login-popup p {
    margin: 20px 0;
    color: #666;
    font-size: 14px;
}

/* Alternate button */
.login-popup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-popup button:hover {
    background-color: #0056b3;
}

/* Checkbox section */
.login-popup div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}

.login-popup input[type="checkbox"] {
    margin-right: 10px;
}

.links-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    /* justify-self: flex-start; */
}

.forgot-pwd{
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}

.forgot-pwd:hover{
    color:#333;
}

.links {
    color: #0056b3;
}

.password-container {
    position: relative;
    width: 100%;
}

.toggle-password-img {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.login-form-layout{
    width: 100%;
}
/* Mobile responsiveness */
@media (max-width: 480px) {
    .login-popup {
        width: 90%;
        padding: 20px;
    }
}