@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alfa+Slab+One&family=Anton+SC&family=Bebas+Neue&family=Gluten:wght@100..900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Alfa+Slab+One&family=Anton+SC&family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Gluten:wght@100..900&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

body{
  position: relative;
  z-index: 1;
  background-color: black !important;
  background-size:auto;
  background-image: url(./images/background.svg);
}

.get-recipes-container {
  font-family: 'Telex', serif;
  width: 100%;
  height: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 ;
}

.main-container{
  position: relative;
  top:10px;
}

.get-recipes-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color: yellow;
  position: relative;
  font-family: "Advent Pro", sans-serif;
  font-size: 4rem;
}

.manual-input-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.manual-input-field {
  width: 40%;
  background-image: url('./images/search.jpeg');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  background-size: 25px;
  padding: 10px 25px 10px 45px;
  margin-right: 10px;
  border-radius: 5px;
  border: 3px solid yellow;
}

.manual-input-field:focus
{
  outline: none;
  border-color: #ffcc00; 
  box-shadow: 0 0 15px rgba(255, 204, 0, 0.6); 
}

.manual-input-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ff7e00;
  color: white;
  cursor: pointer;
}

.main-grid {
  display:grid;
  grid-template-columns: 1fr 3fr; 
  gap: 20px;
} 

.left-panel{
  padding: 20px;
  padding-top: 0px;
}

.right-panel {
  padding: 20px;
}

.left-panel {
  /* border-right: 2px solid #e0e0e0;  */
}

.left-panel h2{
  font-family: "Oswald", sans-serif;
  color: white;
  position: absolute;
  z-index: 1;
  top: 0px;
  margin-left: 30px;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 49.7%;
  transform: translateX(-50%);
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestions-list li {
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d2d2;
  transition: background-color 0.3s ease;
}

.suggestions-list li:hover {
  background-color: #fffc67;
}

.suggestion-button,
.remove-all-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button {
  background-color: #4caf50;
}

.remove-button,
.remove-all-button {
  background-color: #f44336; 
}

.remove-all-button:hover{
  opacity: 0.8;
}

.suggestion-button:hover {
  opacity: 0.8;
}

.right-panel h2{
  color: #fff;
}

.pantry-essentials{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px 0;
}

.pantry-essentials h2,
.selected-ingredients h2 {
  width: 100%;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

.ingredient-button,
.selected-ingredient {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #505050;
  /* border: 1px solid #fff; */
  cursor: pointer;
  width: 100px;
  color: #fff;
  transition: background-color 0.3s ease;
}

.ingredient-button:hover{
  background-color: #959494;
}

.ingredient-button.selected
 {
  background-color: #FFF600;
  color: black;
  border: none;
}

.ingredient-button.selected:hover{
  background-color: #d6cf03;
}

.selected-ingredient {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.selected-ingredient:hover{
  background-color: #3e8442;
}


.quote{
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #abf6ec !important;
  margin: 0;
  line-height: 1.5;
  margin: 50px auto;
  width: 65%;
  margin-top: 0px;
}

.quote-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bread{
  width:15rem;
  height: 8rem;
  margin-top: 5rem;
  bottom: 0px;
}

.recipe-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
}


.recipe-item {
  background-color: #fff;
  border: 3px solid greenyellow;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
}

.recipe-item img {
  width: 100%;
  height: auto;
}

.recipe-item h4 {
  padding: 12px;
  font-size: 22px;
  margin: 0;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: 'Telex', sans-serif;
  align-self: center;
}

.recipe-item h5 {
  padding: 10px;
  font-size: 18px;
  margin: 0;
  color: #333;
  font-weight: bold;
  font-family: 'Telex', sans-serif;
  align-self: center;
}

.recipe-item ul {
  list-style: none;
  padding: 0 10px 10px 10px;
  margin: 0;
}

.recipe-item li {
  position: relative;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: black;
  padding-left: 30px;
  padding-bottom: 5px;
} 
.recipe-item li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px; 
  background: url('./images/noodles.png') no-repeat center center; 
  background-size: contain;
}

.buy-button {
  border: none;
  font-weight: bold;
  background-color: red;
  font-family: 'Telex', sans-serif;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
  align-self: center;
  margin-top: auto;
}

.buy-button:hover {
  background-color: orangered;
}


.recipe-item:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1s ease;
  color:black;
  box-shadow: 0 0 10px #ffee10;
  text-shadow: 0 0 10px #ffee10;
}

.selected-ingredients-container {
  display: flex;
  margin-bottom: 20px;
}

.selected-ingredients-container h2{
  font-family: "Oswald", sans-serif;
  margin-right: 20px;
}

.selected-ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.nav-dot-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  margin-top: 2rem; 
}

.nav-dot {
  cursor: pointer;
  margin-left: 20px;
  width: 15px;
  height: 15px;

  opacity: .6;
  background-color: white;
  border-radius: 50%;
  transition: .4s;

  &:hover {
    opacity: .9;
    transform: scale(1.2);
  }

  &:active {
    opacity: 1;
    transform: scale(0.9);
  } 
}

.nav-dot.active {
  opacity: 1;
  transform: scale(1.2);
}


.arrow-icon-left,
.arrow-icon-right{
  cursor: pointer;
  color: white;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.arrow-icon-right:hover,
.arrow-icon-left:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);
}
.arrow-icon-right:active,
.arrow-icon-left:active {
  transform: scale(0.95); 
  background-color: rgba(255, 255, 255, 0.3); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

html {
  scroll-behavior: smooth;
}
