.recipe-instructions-container {
    width: 100%;
    z-index: 1;
    background-color:yellowgreen;
    padding: 20px;
    background-image: url('./images/background.svg');
}

.recipe-instructions-section {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 40px;
    background-color: #c4e185;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.recipe-instructions-section h2{
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.recipe-instructions-section p{
    font-family: Telex;
}
.recipe-image {
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);

}

.used-ingredients{
    align-self: start;
}

.used-ingredients h3,
.recipe-container h3,
.recipe-instructions-section p strong
{
    font-family: Telex;
    font-size: 1.1rem;
    font-weight: bold;
}

.stepwise-instructions li{
    line-height: 1.3rem;
}

.instructions
{
    align-self: start;
}