@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Delius+Unicase:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gluten:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');


.body-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

.written-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    top: 2%;
}

/* @keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
} */

/* @keyframes colorChange {
    0% {
        color: yellow;
    }
    50% {
        color: white;
    }
    100% {
        color: yellow;
    }
} */

.slogan {
    font-family: "Bebas Neue", sans-serif;
    font-size: 6rem;
    color: #c1564c; /* Starting color */
    margin: 0px;
    padding: 0px;
    line-height: 1.2;
    /* animation: moveUpDown 1s infinite ease-in-out, colorChange 2s infinite; */
}


.about {
    font-size: 1.2rem;
    font-family: "Telex", serif;
    color: #fff;
    margin-top: 1.5rem;
    letter-spacing: 1px;
    width: 120%;
}

.swift {
    margin-left: 7rem;
}

.sub-heading {
    margin-left: 5rem;
}

.getRecipes {
    margin-top: 2rem;
    padding: 0.8rem 1.6rem;
    font-family: 'Telex';
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #f5e9e4 !important;
    color:#c1564c !important;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.getRecipes span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.getRecipes span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

 .getRecipes:hover span {
    padding-right: 25px;

}

.getRecipes:hover span:after {
    opacity: 1;
    right: 0;
}

.getRecipes:hover{
    background-color: #f5e9e4 !important;
    color: #6e2b25 !important;
    border:2px #c1564c !important;
} 


  