@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.shopping-container{
    /* background-image: url('./Images/background1.png'); */
    background-color: #fee484;
    width: 100%;
    height: 100vh;
    top:0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.shopping-card{
    margin-left: 2rem !important;
    margin-right: 2rem !important;
    height: auto;
    width: 70%;
    gap: 2rem;
}

.card-title{
    font-family: "Bree Serif", serif;
    font-weight: bold;
}

.shopping-container h2{
    font-family: "Bebas Neue", sans-serif;
    color: #c1564c!important;
    margin-top: 2rem !important;
    font-size: 3rem !important;
    margin-bottom: 1rem !important;
}

.individual-cards{
    border-radius: 5% !important;
    border: 3px solid #c1564c !important;
}

.card-img-top{
    border-top-left-radius: 5% !important;
    border-top-right-radius: 5% !important;
}

.card-footer{
    font-family: "Telex", serif;
    
}

.card-footer a{
    font-weight: bold;
}

.shop-icon{
    font-size: 1.5rem;
}



.explore {
    margin-top: 2rem;
    padding: 0.8rem 1.6rem;
    font-family: 'Telex';
    font-size: 1.5rem;
    font-weight: bold;
    color: #c1564c;
    background-color: #f5e9e4 !important;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.explore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.explore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.explore:hover span {
    padding-right: 25px;

}

.explore:hover span:after {
    opacity: 1;
    right: 0;
}

.explore:hover{
    background-color: #f5e9e4 !important;
    color: #6e2b25 !important;
}

.text-muted:hover{
    text-decoration: underline!important;
    text-decoration-color: red !important;
    color: red !important;
}

.individual-cards:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
    color:black;
    box-shadow: 0 0 10px #ffee10;
    text-shadow: 0 0 10px #ffee10;
    
}

.shop-pattern{
    width: 100%;
    background-color: #feee9d;
}