.categories-container {
    margin: 1.5rem 1.5rem 1.5rem 1.85rem;
}

.categories-cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.category-card {
    background-color: white;
    box-shadow: 0 3px 5px #f8d37f;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    padding-top: 1.2rem;
    width: 22%;
    height: 40%;
    cursor: pointer;
    margin-right: 20px;
    margin-bottom: 1.6rem;
    border-radius: 20px;
}

.category-card:hover {
    box-shadow: #f0be49 0px 2px 4px 0px, #f0be49 0px 2px 16px 0px;
}

.category-image {
    width: 5rem;
    height: auto;
    margin-bottom: 10px;
    padding-right: 1rem;
}

.category-details {
    text-align: center;
}

.category-title {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Bree Serif", "Serif";
}

.category-text {
    color: #777;
    font-size: medium;
}

.category-card.selected {
    background-color: #feee9d; 
    border: 2px solid #c1564c; 
    /* color: white;  */
    /* box-shadow: #c1564c 0px 2px 4px 0px, #c1564c 0px 2px 16px 0px; */
}

.category-card.selected .category-title {
    /* color: white; */
}

.category-card.selected .category-text {
    /* color: #f5e9e4; */
}
