@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

body {
  font-family: 'Telex', cursive; 
}

.app-container {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 0px;
  background-color: #ffcd59;

}

.bg-container {
  right: 0; 
  top: 0;
  height: 120vh;
  overflow: hidden;
}


.food-bowl{
  margin-left: 14.5%;
  width: 110%;
  margin-top: 4%;
  /* height: 100%; */
}

/* .homepage-pattern{
  height: 100vh;
  position: relative;
  z-index: 1;
  left:250px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
} */

.homepage-extender{
  background-color: #ffdb6e;
}
