.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Telex&display=swap');

body {
  font-family: 'Delius Unicase', cursive; 
}

p {
  font-family: 'Telex', sans-serif; 
}

h3{
  font-family: 'Della Respira', serif;
}

.app-container {
  position: relative;
  height: 100vh; 
  overflow: hidden;
  margin: auto;
}

.bg-img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%; 
  width: auto;
  object-fit: cover; 
  z-index: -1; 
}

